<sw-modal
    class="sw-mail-template-preview-modal"
    :title="$t('sw-mail-template.detail.previewModalTitle')"
    :is-loading="isLoading"
    @modal-close="$emit('modal-close')"
>
    <template v-if="!isLoading">
        <div class="sw-mail-template-preview-modal__subject">
            <h3 class="sw-mail-template-preview-modal__subject-title">
                {{ $t('sw-mail-template.detail.options.labelSubject') }}
            </h3>
            <mt-banner
                v-if="mailPreview.subject.type === 'error'"
                class="sw-mail-template-preview-modal__subject-error"
                variant="critical"
                :title="mailPreview.subject.errorTitle"
            >
                {{ mailPreview.subject.errorMessage }}
            </mt-banner>
            <div
                v-else
                class="sw-mail-template-preview-modal__subject-content"
            >
                {{ mailPreview.subject.content }}
            </div>
        </div>
        <div class="sw-mail-template-preview-modal__sender-name">
            <h3 class="sw-mail-template-preview-modal__sender-name-title">
                {{ $t('sw-mail-template.detail.options.labelSenderName') }}
            </h3>
            <mt-banner
                v-if="mailPreview.senderName.type === 'error'"
                class="sw-mail-template-preview-modal__sender-name-error"
                variant="critical"
                :title="mailPreview.senderName.errorTitle"
            >
                {{ mailPreview.senderName.errorMessage }}
            </mt-banner>
            <div
                v-else
                class="sw-mail-template-preview-modal__sender-name-content"
            >
                {{ mailPreview.senderName.content }}
            </div>
        </div>
        <div class="sw-mail-template-preview-modal__plain-text">
            <h3 class="sw-mail-template-preview-modal__plain-text-title">
                {{ $t('sw-mail-template.detail.mailText.labelContentPlain') }}
            </h3>
            <mt-banner
                v-if="mailPreview.headerPlain.type === 'error'"
                class="sw-mail-template-preview-modal__plain-text-error"
                variant="critical"
                :title="`${$t('sw-mail-template.detail.previewModalMailHeaderPlainLabel')}: ${mailPreview.headerPlain.errorTitle}`"
            >
                {{ mailPreview.headerPlain.errorMessage }}
            </mt-banner>
            <pre
                v-else
                class="sw-mail-template-preview-modal__plain-text-content"
            >{{ mailPreview.headerPlain.content }}</pre>
            <mt-banner
                v-if="mailPreview.contentPlain.type === 'error'"
                class="sw-mail-template-preview-modal__plain-text-error"
                variant="critical"
                :title="`${$t('sw-mail-template.detail.previewModalMailContentPlainLabel')}: ${mailPreview.contentPlain.errorTitle}`"
            >
                {{ mailPreview.contentPlain.errorMessage }}
            </mt-banner>
            <pre
                v-else
                class="sw-mail-template-preview-modal__plain-text-content"
            >{{ mailPreview.contentPlain.content }}</pre>
            <mt-banner
                v-if="mailPreview.footerPlain.type === 'error'"
                class="sw-mail-template-preview-modal__plain-text-error"
                variant="critical"
                :title="`${$t('sw-mail-template.detail.previewModalMailFooterPlainLabel')}: ${mailPreview.footerPlain.errorTitle}`"
            >
                {{ mailPreview.footerPlain.errorMessage }}
            </mt-banner>
            <pre
                v-else
                class="sw-mail-template-preview-modal__plain-text-content"
            >{{ mailPreview.footerPlain.content }}</pre>
        </div>
        <div class="sw-mail-template-preview-modal__html">
            <h3 class="sw-mail-template-preview-modal__html-title">
                {{ $t('sw-mail-template.detail.mailText.labelContentHtml') }}
            </h3>
            <mt-banner
                v-if="mailPreview.headerHtml.type === 'error'"
                class="sw-mail-template-preview-modal__html-error"
                variant="critical"
                :title="`${$t('sw-mail-template.detail.previewModalMailHeaderHtmlLabel')}: ${mailPreview.headerHtml.errorTitle}`"
            >
                {{ mailPreview.headerHtml.errorMessage }}
            </mt-banner>
            <div
                v-else
                class="sw-mail-template-preview-modal__html-content"
                v-html="mailPreview.headerHtml.content"
            ></div>
            <mt-banner
                v-if="mailPreview.contentHtml.type === 'error'"
                class="sw-mail-template-preview-modal__html-error"
                variant="critical"
                :title="`${$t('sw-mail-template.detail.previewModalMailContentHtmlLabel')}: ${mailPreview.contentHtml.errorTitle}`"
            >
                {{ mailPreview.contentHtml.errorMessage }}
            </mt-banner>
            <div
                v-else
                class="sw-mail-template-preview-modal__html-content"
                v-html="mailPreview.contentHtml.content"
            ></div>
            <mt-banner
                v-if="mailPreview.footerHtml.type === 'error'"
                class="sw-mail-template-preview-modal__html-error"
                variant="critical"
                :title="`${$t('sw-mail-template.detail.previewModalMailFooterHtmlLabel')}: ${mailPreview.footerHtml.errorTitle}`"
            >
                {{ mailPreview.footerHtml.errorMessage }}
            </mt-banner>
            <div
                v-else
                class="sw-mail-template-preview-modal__html-content"
                v-html="mailPreview.footerHtml.content"
            ></div>
        </div>
    </template>

    {% block sw_mail_template_detail_preview_modal_footer %}
    <template #modal-footer>
        {% block sw_mail_template_detail_preview_modal_footer_cancel %}
        <mt-button
            size="small"
            variant="secondary"
            @click="$emit('modal-close')"
        >
            {{ $t('global.default.close') }}
        </mt-button>
        {% endblock %}
    </template>
    {% endblock %}
</sw-modal>
